header{
    background-color:lightseagreen;
    padding:10px;
    width:100%;
}
nav{
    text-align: center;
}
.img1{
    height:75%;
    width:100%;

}
.carousel {
    display: flex;
    overflow: hidden;
    width: 400px; /* Adjust the width as needed */
}
.carousel img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}